.counterContainer {
    background-color: rgb(204, 199, 199);
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantityContainer {
    display: flex;
    align-items: center;
}

.counterIcon {
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    margin: 10px;
    user-select: none;
    background-color: rgb(204, 199, 199);
    border: none;
}

.itemQuantity {
    color: black;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
}

.counterButton {
    user-select: none;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
    border-radius: 5px;
}